@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&family=Open+Sans:wght@700;800&display=swap');

:root {
  --font-family-inter: 'Inter', sans-serif;
  --font-family-open: 'Open Sans', sans-serif;
  --sugee-white : #ffffff;
  --sugee-purple : #6E5FD2;
  --sugee-black: #121826;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

