.cards{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(292px, 1fr));
    gap: 10px;
    padding: 0;
}

h2{
    font-family: var(--font-family-open);
    font-weight: 700;
    font-size: 28px;
    line-height: 150%;
    color: #14141D;
}
