
.profile {
    background: #F8F7FD;
    border-radius: 12px;
}

  .profile-active {
    background-color: #6E5FD2;
    padding: 15px;
    border-radius: 10px;
    color: white;
  }

  .search{
    background-color: white;
    padding: 10px 25px;
    border-radius: 12px;
    position: relative;
  }
  .search input{
    border: none;
  }

  .search button{
    margin-top: 10px;
    width: 100%;
    border-radius: 12px;
    padding: 16px 32px;
    background: #6E5FD2;

  }

  .search-icon{
    display: none;
  }

  .hero {
    background-image: url("../../assets/sugee-hero.png");
    height: auto;
    width: 100%;
    background-size: cover;
    background-position: center;
  }

  .hero form{
    padding: 600px 0 30px 0;
  }

  .hero h1{
    font-family: var(--font-family-open);
    font-weight: 800;
    font-size: 64px;
    line-height: 72px;
    color: #F9FAFB;
  }

  .hero p {
    font-family: var(--font-family-inter);
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;

    color: #F9FAFB;
  }

  .step h1{
    font-family: var(--font-family-open);
    font-weight: 700;
    font-size: 32px;
    line-height: 150%;

    color: #121826;
  }

  .step h3,
  .profile h4{
    font-family: var(--font-family-open);
    font-weight: 700;
    font-size: 24px;
    line-height: 150%;

    color: #121826;
  }

  .step p,
  .profile p{
    font-family: var(--font-family-inter);
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #6C727F;
  }

  
  .cta{
    background-image: url("../../assets/cta.jpg");
    background-size: cover;
    background-position: right;
    height: auto;
    margin: 0px 30px;
    border-radius: 24px;
    padding: 20px ;
  }

  .category-button{
    background-color: white;
    color: var(--sugee-purple);
    margin:1%;
    border:1px solid var(--sugee-purple);
    border-radius:25px;
    padding:10px 15px;
    font-family: var(--font-family-inter);
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    text-transform: uppercase;
}

.profile strong{
  font-family: var(--font-family-inter);
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;

  color: var(--sugee-purple);
}
.profile h2{
  font-family: var(--font-family-open);
  font-weight: 700;
  font-size: 28px;
  line-height: 150%;

  color: #121826;
}

.profile h5{
  font-family: var(--font-family-open);
  font-weight: 700;
  font-size: 20px;
  line-height: 150%;

  color: #121826;
}
.profile span{
  font-family: var(--font-family-open);
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  padding: 0;
}

.profile button{

  font-family: var(--font-family-inter);
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;

  color: #F8F7FD;
  background: var(--sugee-purple);
  border-radius: 12px;
  padding: 16px 32px;
  border: none;
}


.partner p{
  font-family: var(--font-family-inter);

  font-weight: 400;
  font-size: 16px;
  line-height: 24px;


  color: #4D5562;
}
@media only screen and (min-width: 992px) {
  .container{
    margin: 0;
    padding: 0;
  }
    .search {
    position: relative;
  }

  .search-icon {
    position: absolute;
    top: 30px;
    left: 50px;
    display: inline;
  }

  .search input{
    text-indent: 50px;
  }

  .search button {
    position: absolute;
    top: 1px;
    right: 20px;
    background: #6E5FD2;
    width: 352px;
    padding: 16px 8px;
  }
}


@media only screen and (min-width: 768px) {
  .profile-link div { 
    margin: 0;
    padding: 0;
  }
  .profile-link{
    margin: 0;
    padding: 0;
  }
  .profile-link span{
    padding-left: 5px;
  }

  .partner img{
    margin-top: 30px;
  }



}

@media only screen and (min-width: 600px) {
  .container {
    width: inherit;
  }
  .search{
    margin: 0px;
  }
}
